<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Blank</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    <!-- CSS -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600' rel='stylesheet' type='text/css'>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="/static/dist/sweetalert.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/dist/sweetalert.css">
    

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script type="text/javascript" src="/static/js/app.js"></script>
  </head>
  <body>
    <div class='background'></div>
    <nav class="navbar navbar-trans navbar-fixed-top" role="navigation">
      <div class="container"></div>
    </nav>
    <section class="container-fluid" id="section1">
        <div class="v-center">
            <h1 class="text-center">Honesty page ! </h1>
            <h2 class="text-center lato animate slideInDown"> <b>Tell something </b>to someone</h2>
            <div class=" col-lg-12 text-center">
              <form id="post-form" action="/api/posts" method="POST">
                <br>
                <input class='post-num'  type='text'><%=posts.length%></input>
                <input class='name-Input' placeholder="name" name="name" type='text'> 
                <input class='text-Input' placeholder="your post" name="content" type='text'>
                <a href="#" id='button-Post' class="btn btn-danger btn-lg btn-huge lato" type="submit" action='submit'> Post it</a>
              </form>
            </div>
        </div>
        <a href="#section2">
          <div class="scroll-down bounceInDown animated">
                  <span>
                      <i class="fa fa-angle-down fa-2x"></i>
                  </span>
          </div>
        </a>
    </section>

    <section class="container-fluid" id="section2">
        <div class="container v-center">
            <div class="row row1">
            <% for (var i =0; i< posts.length; i++) { %>
              <div id= "<%= posts[i]._id%>" class = "col-lg-3 col-sm-3 box1"> 
                <a class="boxclose" id="boxclose"></a> 
                <h1 id="hOne"><%= posts[i].name%></h1>
                <a class="link"  href="/index1/<%=posts[i]._id%>" >
                <p class= "postLink"><%= posts[i].content%></p>
                </a>
                <br/>
                <a href="#" id="button-com" class="btn btn-danger btn-lg btn-huge lato" data-toggle="modal" data-target="#myModal">Comment
                </a><br><hr>
                <% for (var j=0; j < posts[i].stories.length; j++) { %>
                <p><strong> <%= posts[i].stories[j].name %></strong> <%= posts[i].stories[j].content%><br> 
                  <% } %>
              </div>
            <% } %>
            </div>
            <!--/row-->
    </section> 
    <div id='comment-box'>
      <h1 id = 'comment-h1'>Comment Box</h1>
      <form action="/">
        <hr>
        <label id="icon" for="name"><i class="icon-user"></i></label>
        <input type="text" name="nameC" id="name" placeholder="Name" required/>
        <label id="icon" for="com"><i class="icon-shield"></i></label>
        <input type="text-area" name="com" id="com" placeholder="your comment" required/>
        <a href="#" class="com-button">Comment</a>
        <a href="#" class="cancel-button">Cancel</a>
      </form>
    </div>     
  </body>
</html>
